*{margin: 0;}
@import url("https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap");
img{ 
    align-self: center;
	height: 100%;
}
h1{
    margin-top: 0.5em;
    font-size: 3em ;
    text-align: center;
    font-family: 'Yeon Sung', cursive;
    color: white;
    font-weight: normal;
}
body{
    background-color: black;
}
.arrow {
    border: solid red;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    width: 50px;
    height: 50px;
    font-weight: bolder;
    cursor: pointer;
  }
  
  .left {
    position: absolute;
    bottom: 25%;
    left: 25%;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  .right {
    position: absolute;
    bottom: 25%;
    left: 70%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
.text{
    font-size: 3em ;
    text-align: center;
    font-family: 'Yeon Sung', cursive;
    color: white;
    font-weight: normal;
    cursor: pointer;
    text-decoration-line:none;
}
#tarot {
    
    position: absolute;
    bottom: 20%;
    left: 42%;
}
#horoscope {
    text-align: center;
    opacity: 0;
    position: absolute;
    bottom: 25%;
    left: 42%;
}
#game {
    opacity: 0;
    position: absolute;
    bottom: 25%;
    left: 42%;
}

[title=fadeIn] {
	animation: fadeIn ease 3s;
	-webkit-animation: fadeIn ease 3s;
  }
  @keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }
  
  @-webkit-keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }

[title=fadeOut]{
	animation: fadeout 3s;
	-webkit-animation: fadeout 3s; 
	animation-fill-mode: forwards;
  }
  @keyframes fadeout {
	  from {
		  opacity: 1;
	  }
	  to {
		  opacity: 0;
	  }
  }
  @-webkit-keyframes fadeout { 
	  from {
		  opacity: 1;
	  }
	  to {
		  opacity: 0;
	  }
  }

.page-footer {
    font-family: 'Yeon Sung', cursive;
    position: relative;
    bottom: 0.5em;
    border-top: 1px solid #D7CCC8;
    padding: 0.5em 0;
    text-align: center;
    font-size: 1.3em;
    color: white;
}

.page-footer-link {
    color: white;
    font-weight: 700;
}

