*{margin: 0;}
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");
body{ 
	background-image: url("images/starrynight.png");
	background-repeat: no-repeat;
	background-size: cover;}

center h1{ 
    font-size:xx-large;
    margin-top: 10px;
	font-family: 'Gamja Flower', cursive;
	font-weight: normal;  }

/* first layout */
figure {
    display: inline-block;
    border: 1px;
    margin: 37px;
    
}
figure img {
    vertical-align: top;
    border-radius: 5px;
}
figure figcaption {
    margin-top: 10px;
    font-family: 'Gamja Flower', cursive;
    font-size: larger;
	font-weight: normal;
    border: 1px;
    text-align: center;
    color: white;
}
figure>img:hover{
	transform: scale(1.1);
}

[title=fadeIn] {
	animation: fadeIn ease 3s;
	-webkit-animation: fadeIn ease 3s;
  }
  @keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }
  
  @-webkit-keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }

[title=fadeOut]{
	animation: fadeout 3s;
	-webkit-animation: fadeout 3s; 
	animation-fill-mode: forwards;
  }
  @keyframes fadeout {
	  from {
		  opacity: 1;
	  }
	  to {
		  opacity: 0;
	  }
  }
  @-webkit-keyframes fadeout { 
	  from {
		  opacity: 1;
	  }
	  to {
		  opacity: 0;
	  }
  }
/* ****************************** */

#container {
	display: none;
	position: relative;
	text-align: center;
	color: white;
  }
.box {
    margin-top: 20px;
}
.textbox{
	font-family: 'Hahmlet', serif;
	color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#again{
    display: none;
	background-color: salmon;
	color: white;
	padding: 1.5em 2.5em;
	border: none;
	transition: all .3s ease;
	border-radius: 5px;
	letter-spacing: 2px;
	text-transform: uppercase;
	outline: none;
	align-self: center;
	cursor: pointer;
	font-weight: bold;
	font-size: 1rem;
	font-family: 'Hahmlet', serif;
}
.color-bg-start {
	background-color: salmon;
  }
  
  
  /* toggle class bg-animate-color */
  
  .bg-animate-color {
	animation: random-bg .5s linear infinite;
  }
  
  
  /* add animation to bg color  */
  
  @keyframes random-bg {
	from {
	  filter: hue-rotate(0);
	}
	to {
	  filter: hue-rotate(360deg);
	}
  }
  #again:hover {
	animation: random-bg .5s linear infinite, grow 1300ms ease infinite;
  }
  
  .start-fun {
	background-color: #fff !important;
	/* change color of button text when fun is started   */
	color: salmon !important;
  }
  
  /* pulsating effect on button */
  @keyframes grow {
	0% {
	  transform: scale(1);
	}
	14% {
	  transform: scale(1.3);
	}
	28% {
	  transform: scale(1);
	}
	42% {
	  transform: scale(1.3);
	}
	70% {
	  transform: scale(1);
	}
  }

  /* 사운드 온오프 버튼 */
  #sound_btn { 
	position: absolute; left:10px; top: 10px; outline: none; 
  }